<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Admin Login</title>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/styles/home.css}">
</head>
<body>
   <h1>Admin Login</h1>
   <div>
   	<p th:text="${errorMessage}">
   </div>
   <form th:action="@{/admin/authenticateLogin}" method='POST'>
      <table>
         <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''></td>
         </tr>
         <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
         </tr>
         <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
         </tr>
      </table>
  </form>
</body>
</html>